<%- include('../master_user/header.ejs') %>
<div class="area-bg" style="background-image: url('/uploads/bg/area_bg.jpg');">
    <header class="transparent-header">
        <div class="header-top-wrap">
            <div class="container custom-container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="header-top-left">
                            <ul class="list-wrap">
                                <li class="header-location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    238 Hoàng Quốc Việt, Hà Nội
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:truong20030205@gmail.com">truong20030205@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="header-top-right">
                            <div class="header-top-menu">
                                <ul class="list-wrap">
                                    <% if (userAuthenticated) { %>
                                        <li><a href="/account/profile">Hi, <%= user.name %></a></li>
                                        <li><a href="/account/favorite">Favorites</a></li>
                                        <li><a href="/order/history">History</a></li>
                                        <li><a href="logout">Logout</a></li>
                                    <% } else { %>
                                        <li><a href="/register">Register</a></li>
                                        <li><a href="/login">Login</a></li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="header-top-social">
                                <ul class="list-wrap">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="sticky-header" class="menu-area">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-wrap">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <nav class="menu-nav">
                                <div class="logo">
                                    <a href="/"><img src="/uploads/logo/logo1.png" alt="Logo"></a>
                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">ABOUT US</a></li>
                                        <li class="menu-item-has-children"><a href="#">PRODUCTS</a>
                                            <ul class="sub-menu">
                                                <% categories.forEach(function(ch) { %>
                                                    <li><a href="/category/<%= ch.id %>"><%= ch.name %></a></li>
                                                <% }); %>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">BLOG</a>
                                            <ul class="sub-menu">
                                                <li><a href="/blog">Our Blog</a></li>
                                                <li><a href="/blog-details">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">PAGES</a>
                                            <ul class="sub-menu">
                                                <li><a href="/services">Services Page</a></li>
                                                <li><a href="/services-details">Services Details</a></li>
                                                <li><a href="/team-details">Team Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="header-action d-none d-md-block">
                                    <ul class="list-wrap">
                                        <li class="header-search">
                                            <a href="#"><i class="flaticon-search"></i></a>
                                        </li>
                                        <li class="header-shop-cart">
                                            <a href="/cart">
                                                <i class="flaticon-shopping-basket"></i>
                                                <span><%= carts.length %></span> 
                                            </a>
                                        </li>
                                        <li class="header-btn"><a href="tel:0123456789" class="btn">+84 999 999 999</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
    
                        <!-- Mobile Menu  -->
                        <div class="mobile-menu">
                            <nav class="menu-box">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <div class="nav-logo">
                                    <a href="/"><img src="/uploads/logo/logo.png" alt="Logo"></a>
                                </div>
                                <div class="menu-outer">
                                    <!-- Menu will be automatically populated by JavaScript -->
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-backdrop"></div>
                        <!-- End Mobile Menu -->
    
                    </div>
                </div>
            </div>
        </div>
    
        <!-- header-search -->
        <div class="search-popup-wrap" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="search-wrap text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="search-form">
                                <form action="#">
                                    <input type="text" placeholder="Enter your keyword...">
                                    <button class="search-btn"><i class="flaticon-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-backdrop"></div>
        <!-- header-search-end -->
    </header>
    
    <!-- banner-area -->
    <section class="banner-area banner-bg tg-motion-effects" style="background-image: url('<%= topBanner.image %>');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1 class="title wow fadeInUp" data-wow-delay=".2s"><%= topBanner.name %></h1>
                        <span class="sub-title wow fadeInUp" data-wow-delay=".4s"></span>
                        <a href="<%= topBanner.link %>" style="margin-top:150px;" class="btn wow fadeInUp" data-wow-delay=".6s">order now</a>
                    </div>
                    <div class="banner-img text-center wow fadeInUp" data-wow-delay=".8s">
                        <!-- <img src="/uploads/banner/banner_img.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-shape-wrap">
            <img src="/uploads/banner/banner_shape01.png" alt="" class="tg-motion-effects5">
            <img src="/uploads/banner/banner_shape02.png" alt="" class="tg-motion-effects4">
            <img src="/uploads/banner/banner_shape03.png" alt="" class="tg-motion-effects3">
            <img src="/uploads/banner/banner_shape04.png" alt="" class="tg-motion-effects5">
        </div>
    </section>
    <!-- banner-area-end -->

    <!-- features-area -->
    
    <!-- features-area-end -->

</div>
    
<!-- breadcrumb-area-end -->

<!-- shop-area -->
<section class="shop-area shop-bg" data-background="/assets/img/bg/shop_bg.jpg">
    <div class="container custom-container-five">
        <div class="shop-inner-wrap">
            <div class="row">
                <div class="col-xl-9 col-lg-8">
                    <div class="shop-top-wrap">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="shop-showing-result">
                                    <p>Showing 1–09 of 20 results</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="shop-ordering">
                                    <select name="orderby" class="orderby">
                                        <option value="Default sorting">Sort by Top Rating</option>
                                        <option value="Sort by popularity">Sort by popularity</option>
                                        <option value="Sort by average rating">Sort by average rating</option>
                                        <option value="Sort by latest">Sort by latest</option>
                                        <option value="Sort by latest">Sort by latest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-item-wrap">
                        <div class="row">
                            <% products.forEach(prod => { %>
                                <div class="col-xl-4 col-md-6">
                                    <div class="product-item-three inner-product-item">
                                        <div class="product-thumb-three">
                                            <a href="/home/product/<%= prod.id %>"><img src="/uploads/<%= prod.image %>" alt=""></a>
                                            <span class="batch">New<i class="fas fa-star"></i></span>
                                        </div>
                                        <div class="product-content-three">
                                            <!-- Check if prod.cat exists before accessing prod.cat.name -->
                                            <a href="#" class="tag"><%= categoryMap[prod.category_id] || 'Unknown Category' %></a>
                                            <h2 class="title"><a href="/home/product/<%= prod.id %>"><%= prod.name %></a></h2>
                                            <% if (prod.sale_price > 0) { %>
                                                <span> <s> $<%= prod.price %></s></span>
                                                <span class="price">$<%= prod.sale_price %></span>
                                            <% } else { %>
                                                <span class="price">$<%= prod.price %></span>
                                            <% } %>
                                            <p style="font-size: 20px;" class="a">
                                                <% if (prod.favorited) { %>
                                                    <a title="Bỏ thích" onclick="return confirm('Bạn có muốn bỏ thích không')" href="/home/favorite/<%= prod.id %>"><i class="fas fa-heart"></i></a>
                                                <% } else { %>
                                                    <a title="Yêu thích" href="/home/favorite/<%= prod.id %>"><i class="far fa-heart"></i></a>
                                                <% } %>
                                            </p>
                                            <div class="product-cart-wrap">
                                                <form action="#">
                                                    <div class="cart-plus-minus">
                                                        <input type="text" value="1">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="product-shape-two">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 303 445" preserveAspectRatio="none">
                                                <path d="M319,3802H602c5.523,0,10,5.24,10,11.71l-10,421.58c0,6.47-4.477,11.71-10,11.71H329c-5.523,0-10-5.24-10-11.71l-10-421.58C309,3807.24,313.477,3802,319,3802Z" transform="translate(-309 -3802)" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="shop-sidebar">
                        <!-- Filter By Section -->
                        <div class="shop-widget">
                            <h4 class="sw-title">FILTER BY</h4>
                            <div class="price_filter">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <input type="submit" class="btn" value="Filter">
                                    <span>Price :</span>
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                                </div>
                                <div class="clear-btn">
                                    <button type="reset"><i class="far fa-trash-alt"></i>Clear all</button>
                                </div>
                            </div>
                        </div>
                
                        <!-- Categories Section -->
                        <div class="shop-widget">
                            <h4 class="sw-title">Danh mục sản phẩm</h4>
                            <div class="shop-cat-list">
                                <ul class="list-wrap">
                                    <% if (categories && categories.length > 0) { %>
                                        <% categories.forEach(cat => { %>
                                            <li>
                                                <div class="shop-cat-item">
                                                    <a href="/category/<%= cat.id %>" class="form-check-label">
                                                        <%= cat.name %> <span><%= cat.products_count %></span>
                                                    </a>
                                                </div>
                                            </li>
                                        <% }); %>
                                    <% } else { %>
                                        <li><p>No categories available.</p></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                
                        <!-- Hot Products Section -->
                        <div class="shop-widget">
                            <h4 class="sw-title">Sản phẩm hot</h4>
                            <div class="latest-products-wrap">
                                <% if (news_products && news_products.length > 0) { %>
                                    <% news_products.forEach(np => { %>
                                        <div class="lp-item">
                                            <div class="lp-thumb">
                                                <a href="/product/<%= np.id %>"><img src="/uploads/<%= np.image %>" alt=""></a>
                                            </div>
                                            <div class="lp-content">
                                                <h4 class="title"><a href="/product/<%= np.id %>"><%= np.name %></a></h4>
                                                <% if (np.sale_price > 0) { %>
                                                    <span><s>$<%= np.price %></s></span>
                                                    <span class="price">$<%= np.sale_price %></span>
                                                <% } else { %>
                                                    <span class="price">$<%= np.price %></span>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <p>No hot products available.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>

<%- include('../master_user/footer.ejs') %>