<%- include('../master_user/header.ejs') %>
<div class="area-bg" style="background-image: url('/uploads/bg/area_bg.jpg');">
    <header class="transparent-header">
        <div class="header-top-wrap">
            <div class="container custom-container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="header-top-left">
                            <ul class="list-wrap">
                                <li class="header-location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    238 Hoàng Quốc Việt, Hà Nội
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:truong20030205@gmail.com">truong20030205@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="header-top-right">
                            <div class="header-top-menu">
                                <ul class="list-wrap">
                                    <% if (userAuthenticated) { %>
                                        <li><a href="/account/profile">Hi, <%= user.name %></a></li>
                                        <li><a href="/account/favorite">Favorites</a></li>
                                        <li><a href="/order/history">History</a></li>
                                        <li><a href="logout">Logout</a></li>
                                    <% } else { %>
                                        <li><a href="/register">Register</a></li>
                                        <li><a href="/login">Login</a></li>
                                    <% } %>
                                </ul>
                            </div>
                            <div class="header-top-social">
                                <ul class="list-wrap">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="sticky-header" class="menu-area">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="menu-wrap">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <nav class="menu-nav">
                                <div class="logo">
                                    <a href="/"><img src="/uploads/logo/logo1.png" alt="Logo"></a>
                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">ABOUT US</a></li>
                                        <li class="menu-item-has-children"><a href="#">PRODUCTS</a>
                                            <ul class="sub-menu">
                                                <% categories.forEach(function(ch) { %>
                                                    <li><a href="/category/<%= ch.id %>"><%= ch.name %></a></li>
                                                <% }); %>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">BLOG</a>
                                            <ul class="sub-menu">
                                                <li><a href="/blog">Our Blog</a></li>
                                                <li><a href="/blog-details">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">PAGES</a>
                                            <ul class="sub-menu">
                                                <li><a href="/services">Services Page</a></li>
                                                <li><a href="/services-details">Services Details</a></li>
                                                <li><a href="/team-details">Team Details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                                <div class="header-action d-none d-md-block">
                                    <ul class="list-wrap">
                                        <li class="header-search">
                                            <a href="#"><i class="flaticon-search"></i></a>
                                        </li>
                                        <li class="header-shop-cart">
                                            <a href="/cart">
                                                <i class="flaticon-shopping-basket"></i>
                                                <span><%= carts.length %></span> 
                                            </a>
                                        </li>
                                        <li class="header-btn"><a href="tel:0123456789" class="btn">+84 999 999 999</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
    
                        <!-- Mobile Menu  -->
                        <div class="mobile-menu">
                            <nav class="menu-box">
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <div class="nav-logo">
                                    <a href="/"><img src="/uploads/logo/logo.png" alt="Logo"></a>
                                </div>
                                <div class="menu-outer">
                                    <!-- Menu will be automatically populated by JavaScript -->
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-backdrop"></div>
                        <!-- End Mobile Menu -->
    
                    </div>
                </div>
            </div>
        </div>
    
        <!-- header-search -->
        <div class="search-popup-wrap" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="search-wrap text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="search-form">
                                <form action="#">
                                    <input type="text" placeholder="Enter your keyword...">
                                    <button class="search-btn"><i class="flaticon-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-backdrop"></div>
        <!-- header-search-end -->
    </header>
    
    <!-- banner-area -->
    <section class="banner-area banner-bg tg-motion-effects" style="background-image: url('<%= topBanner.image %>');">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-content">
                        <h1 class="title wow fadeInUp" data-wow-delay=".2s"><%= topBanner.name %></h1>
                        <span class="sub-title wow fadeInUp" data-wow-delay=".4s"></span>
                        <a href="<%= topBanner.link %>" style="margin-top:150px;" class="btn wow fadeInUp" data-wow-delay=".6s">order now</a>
                    </div>
                    <div class="banner-img text-center wow fadeInUp" data-wow-delay=".8s">
                        <!-- <img src="/uploads/banner/banner_img.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-shape-wrap">
            <img src="/uploads/banner/banner_shape01.png" alt="" class="tg-motion-effects5">
            <img src="/uploads/banner/banner_shape02.png" alt="" class="tg-motion-effects4">
            <img src="/uploads/banner/banner_shape03.png" alt="" class="tg-motion-effects3">
            <img src="/uploads/banner/banner_shape04.png" alt="" class="tg-motion-effects5">
        </div>
    </section>
    <!-- banner-area-end -->

    <!-- features-area -->
    <section class="features-area pt-130 pb-70">
        <div class="container">
            <div class="row">
                <% news_products.forEach(function(np) { %>
                <div class="col-lg-6">
                    <div class="features-item tg-motion-effects">
                        <div class="features-content">
                            <span><%= np.cat ? np.cat.name : 'No category' %></span>

                            <h4 class="title"><a href="/product/<%= np.id %>"><%= np.name %></a></h4>
                            <% if (userAuthenticated) { %>
                            <p style="font-size: 20px;" class="a"><%= np.content %> <br> 
                                <% if (np.favorited) { %>
                                <a title="Bỏ thích" onclick="return confirm('bạn có muốn bỏ thích không')" href="/favorite/<%= np.id %>"><i class="fas fa-heart"></i></a>
                                <% } else { %>
                                <a title="Yêu thích" href="/favorite/<%= np.id %>"><i class="far fa-heart"></i></a>
                                <% } %>
                                <a title="Thêm vào giỏ hàng" href="/cart/add/<%= np.id %>"><i class="fa fa-shopping-cart"></i></a>
                            <% } else { %>
                                <a title="Thêm vào giỏ hàng" href="/login" onclick="alert('Vui lòng đăng nhập để thêm giỏ hàng')"><i class="fa fa-shopping-cart"></i></a>
                            <% } %>
                            <br>    
                            <% if (np.sale_price > 0) { %>
                            <span><s>$<%= np.price %></s></span>
                            <span class="price">$<%= np.sale_price %></span>
                            <% } else { %>
                            <span class="price">$<%= np.price %></span>
                            <% } %>
                        </div>
                        <div class="features-img">
                            <img src="/uploads/<%= np.image %>" alt="">
                            <div class="features-shape">
                                <!-- <img src="/uploads/images/features_shape.png" alt="" class="tg-motion-effects4"> -->
                            </div>
                        </div>
                        <div class="features-overlay-shape" style="background-image: url('/uploads/images/features_overlay.png');"></div>
                    </div>
                </div>                               
                <% }); %>
            </div>
        </div>
    </section>
    <!-- features-area-end -->

</div>
<!-- area-bg-end -->

<!-- product-area -->
<section class="product-area product-bg" style="background-image: url('/uploads/bg/product_bg01.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center mb-60">
                    <span class="sub-title">Organic Shop</span>
                    <h2 class="title">Sale Products</h2>
                    <div class="title-shape" style="background-image: url('/uploads/images/title_shape.png');"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        <% sale_products.forEach(function(sp) { %>
            <div class="col-lg-4 col-md-6">
                <div class="product-item">
                    <div class="product-img">
                        <a href="/product/<%= sp.id %>"><img src="/uploads/<%= sp.image %>" alt=""></a>
                    </div>
                    <div class="product-content">
                        <div class="line" style="background-image: url('/uploads/images/line.png');"></div>
                        <h4 class="title"><a href="/product/<%= sp.id %>"><%= sp.name %></a></h4>
                        <% if (userAuthenticated) { %>
                            <p style="font-size: 20px;" class="a"><br> 
                                <% if (sp.favorited) { %>
                                <a title="Bỏ thích" onclick="return confirm('bạn có muốn bỏ thích không')" href="/favorite/<%= sp.id %>"><i class="fas fa-heart"></i></a>
                                <% } else { %>
                                <a title="Yêu thích" href="/favorite/<%= sp.id %>"><i class="far fa-heart"></i></a>
                                <% } %>
                                <a title="Thêm vào giỏ hàng" href="/cart/add/<%= sp.id %>"><i class="fa fa-shopping-cart"></i></a>
                            <% } else { %>
                                <a title="Thêm vào giỏ hàng" href="/login" onclick="alert('Vui lòng đăng nhập để thêm giỏ hàng')"><i class="fa fa-shopping-cart"></i></a>
                            <% } %>
                            <br>    
                            <% if (sp.sale_price > 0) { %>
                            <span><s>$<%= sp.price %></s></span>
                            <span class="price">$<%= sp.sale_price %></span>
                            <% } else { %>
                            <span class="price">$<%= sp.price %></span>
                            <% } %>
                    </div>
                    <div class="product-shape">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401 314" preserveAspectRatio="none">
                            <path d="M331.5,1829h361a20,20,0,0,1,20,20l-29,274a20,20,0,0,1-20,20h-292a20,20,0,0,1-20-20l-40-274A20,20,0,0,1,331.5,1829Z" transform="translate(-311.5 -1829)" />
                        </svg>
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
    </div>
    <div class="shop-shape">
        <img src="/uploads/product/product_shape01.png" alt="">
    </div>
</section>
<!-- product-area-end -->

<!-- gallery-area -->
<div class="gallery-area gallery-bg" style="background-image: url('/uploads/bg/product_bg01.jpg');">
    <div class="container">
        <div class="gallery-item-wrap">
            <div class="row justify-content-center">
                <div class="col-88">
                    <div class="gallery-active">
                        <% gallerys.forEach(function(ga) { %>
                        <div class="gallery-item">
                            <a href="/uploads/gallery/<%= ga.image %>" class="popup-image"><img src="/uploads/gallery/gallery_img01.png" alt=""></a>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- gallery-area-end -->

<!-- product-area -->
<section class="product-area-two product-bg-two" style="background-image: url('/uploads/bg/product_bg02.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center mb-70">
                    <span class="sub-title">Organic Shop</span>
                    <h2 class="title">Hot Products</h2>
                    <div class="title-shape" style="background-image: url('/uploads/images/title_shape.png');"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
        <% hot_products.forEach(function(hp) { %>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product-item-two">
                    <div class="product-img">
                        <a href="/product/<%= hp.id %>"><img src="/uploads/<%= hp.image %>" alt=""></a>
                    </div>
                    <div class="product-content">
                        <div class="line" style="background-image: url('/uploads/images/line.png');"></div>
                        <h4 class="title"><a href="/product/<%= hp.id %>"><%= hp.name %></a></h4>
                        <% if (userAuthenticated) { %>
                            <p style="font-size: 20px;" class="a"><br> 
                                <% if (hp.favorited) { %>
                                <a title="Bỏ thích" onclick="return confirm('bạn có muốn bỏ thích không')" href="/favorite/<%= hp.id %>"><i class="fas fa-heart"></i></a>
                                <% } else { %>
                                <a title="Yêu thích" href="/favorite/<%= hp.id %>"><i class="far fa-heart"></i></a>
                                <% } %>
                                <a title="Thêm vào giỏ hàng" href="/cart/add/<%= hp.id %>"><i class="fa fa-shopping-cart"></i></a>
                            <% } else { %>
                                <a title="Thêm vào giỏ hàng" href="/login" onclick="alert('Vui lòng đăng nhập để thêm giỏ hàng')"><i class="fa fa-shopping-cart"></i></a>
                            <% } %>
                            <br>    
                            <% if (hp.sale_price > 0) { %>
                            <span><s>$<%= hp.price %></s></span>
                            <span class="price">$<%= hp.sale_price %></span>
                            <% } else { %>
                            <span class="price">$<%= hp.price %></span>
                            <% } %>
                    </div>
                    <div class="product-shape">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 401 314" preserveAspectRatio="none">
                            <path d="M331.5,1829h361a20,20,0,0,1,20,20l-29,274a20,20,0,0,1-20,20h-292a20,20,0,0,1-20-20l-40-274A20,20,0,0,1,331.5,1829Z" transform="translate(-311.5 -1829)" />
                        </svg>
                    </div>
                </div>
            </div>
        <% }); %>
        </div>
    </div>
    <div class="shop-shape">
        <img src="/uploads/product/product_shape02.png" alt="">
    </div>
</section>

<%- include('../master_user/footer.ejs') %>