<%- include('../master/header.ejs') %>

<div class="content-wrapper">
  <section class="content-header">
    <h1>Sửa thông tin sản phẩm</h1>
  </section>

  <section class="content">
    <div class="box">
      <div class="box-body">
        <form action="/products/edit/<%= product.id %>" method="post" enctype="multipart/form-data">

          <input type="hidden" name="oldImage" value="<%= product.image %>">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required>
          </div>
          <div class="form-group">
            <label for="price">Price</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" value="<%= product.price %>" required>
          </div>
          <div class="form-group">
            <label for="sale_price">Sale Price</label>
            <input type="number" step="0.01" class="form-control" id="sale_price" name="sale_price" value="<%= product.sale_price %>">
          </div>
          <div class="form-group">
            <label for="category_id">Category</label>
            <select id="category_id" name="category_id" class="form-control" required>
              <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <%= category.id == product.category_id ? 'selected' : '' %>><%= category.name %></option>
              <% }); %>
            </select>
          </div>
          <div class="form-group">
            <label for="">Trạng Thái</label>
            
            <div class="radio">
                <label>
                    <input type="radio" name="status"  value="1" <%= product.status %> >
                    Hiện
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="status"  value="0"  <%= product.status %> >
                    Ẩn
                </label>
            </div>
          
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="image" multiple>
            <% if (product.image) { %>
              <img src="/uploads/<%= product.image %>" alt="Product Image" width="100">
            <% } %>
          </div>
          <button type="submit" class="btn btn-primary">Cập nhập</button>
        </form>
      </div>
    </div>
  </section>
</div>

<%- include('../master/footer.ejs') %>
